---
import { contentfulClient } from "../utils/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const response = await contentfulClient.getEntries({
  content_type: "blogPost", 
  'fields.slug': Astro.params.slug,
  'metadata.tags.sys.id[all]': 'main'
})
const article = response.items[0].fields
const content = documentToHtmlString(article.article)

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<article set:html={content}></article>
	</body>
</html>
